<h1>New service_request</h1>

<% form_for(@service_request) do |f| %>
  <%= render :partial => 'form' , :locals=>{:f => f}%>
  <%= submit_tag "Add" %>
<% end %>

<%= link_to "List of service_requests", service_requests_path %>
