<%%= error_messages_for '<%= singular_name %>' %>


<h1>Listing <%= plural_name %></h1>


<%= template_for_inclusion %>  


<br />

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>

<script>
    //<![CDATA[
    $(document).ready(function(){
        var tab = $('#results').tablesorter();
    });
    //]]>
</script>
