<%%= error_messages_for '<%= singular_name %>' %>

<%= template_for_inclusion %>

<%%= link_to 'Edit', edit_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%%= link_to "List of <%=plural_name%>", <%= plural_name %>_path %>

