<h1><%=@road.name%> details</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Road number</th>
    <th>Major direction</th>
  </tr>

  <tr>
    <td><%=h @road.name %></td>
    <td><%=h @road.road_number %></td>
    <td><%=h @road.major_direction %></td>
  </tr>

</table>
